

*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}


body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


body {
    height: 100vh;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizespeed;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    font-family: "Roboto", sans-serif;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}


img {
    display: block;
    max-width: 100%;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}


@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
}

.todo_wrapper {
    margin: 20% auto 0;
    background-image: linear-gradient(to right, #141e30, #243b55);
    border-radius: 20px;
    max-width: 440px;
    border: 1px solid black;
    padding: 0 10px;
    width: 100%;
}

#tasks-list {
    min-height: 140px;
    max-width: 480px;
    text-align: center;
    padding: 20px;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
ul > li {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}
.item-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-task > button {
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 6px 16px;
    cursor: pointer;
    transition: ease-out .5s;
    color: black;
}

.item-task > button:hover {
    transition: .7s;
    background-color: darkred;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    margin: 3% auto 0;
    text-align: center;
    padding: 0 20px 20px;
}
#tasks-add {
    height: 56px;
    width: 60px;
    border: 1px solid transparent;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    transition: ease-out .5s;
    color: #141e30;
    padding: 6px;
}
#tasks-add:hover {

    transition: .7s;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

}
#tasks-text {
    height: 56px;
    width: 80%;
    outline: none;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 10px;
}
#tasks-text[placeholder] {
    text-align: center;
}

@media(max-width: 478px) {
    .todo_wrapper {
        width: 90%;
    }
    .input-wrapper {
        gap: 10px;
    }
}